.bg {
    /* The image used */
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("https://openweather.co.uk/storage/app/media/news-upgrade-api-multilingual-feature-us-cities-search-states.png"); 

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.weatherforecast {
    background-color: rgba(255, 228, 196, 0.5) !important;

}